* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1211px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bold-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(18, 18, 18, 1);
}